<section id="wiki-list">
    <div class="mb-4 controls d-flex justify-content-center align-items-center w-100">
        <mat-form-field appearance="outline" class="w-100" style="color: black">
            <mat-label>Search</mat-label>
            <input [formControl]="search" matInput placeholder="Search Blogs..." type="text">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <button (click)="clearSearch()" class="ml-2 mb-4" mat-flat-button>Clear Search</button>
    </div>
    <div *ngIf="wikis.length else Loading">
        <mat-card *ngFor="let wiki of wikis" [routerLink]="['wiki', wiki.slug]" class="mb-4 card">
            <mat-card-title class="pb-2">{{wiki.title}}</mat-card-title>
            <mat-card-subtitle>{{wiki.description}}</mat-card-subtitle>
        </mat-card>
    </div>
    <ng-template #Loading>
        <div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center" *ngIf="loading">
            <mat-spinner></mat-spinner>
        </div>
        <div *ngIf="!loading" class="w-100 d-flex flex-column justify-content-center align-items-center">
            <mat-icon color="warn">feedback</mat-icon>
            <h2 class="mt-2">No Search Results Found!</h2>
            <p>Try modifying your search</p>
        </div>
    </ng-template>


    <mat-paginator
            (page)="pageChangeEvent($event)"
            [length]="totalItems"
            [pageIndex]="currentPage - 1"
            [pageSize]="25"
    >

    </mat-paginator>

</section>



