<section class="panel-container">

    <div class="panel-header">
        <span class="panel-title">{{config.title}}</span>
        <mat-icon class="panel-close" mat-dialog-close>close</mat-icon>
    </div>

    <div class="panel-summary">
        {{config.summary}}
    </div>

    <div class="panel-content h-100">
        <form [formGroup]="wikiForm" autocomplete="off" class="d-flex flex-column h-100">
            <div class="d-flex flex-column flex-lg-row">
                <mat-form-field appearance="outline" class="mr-lg-4 flex-fill">
                    <mat-label>Title</mat-label>
                    <input formControlName="title" matInput type="text"/>
                    <mat-error *ngIf="wikiForm.controls.title.hasError('required')">
                        Title is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="flex-fill">
                    <mat-label>Slug</mat-label>
                    <input formControlName="slug" matInput type="text"/>
                    <mat-error *ngIf="wikiForm.controls.slug.hasError('required')">
                        Slug is required
                    </mat-error>
                    <mat-hint align="end">
                        Url for your wiki
                    </mat-hint>
                </mat-form-field>
            </div>


            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <input formControlName="description" matInput type="text"/>
                <mat-error *ngIf="wikiForm.controls.description.hasError('required')">
                    Description is required
                </mat-error>
            </mat-form-field>

            <mat-label class="mb-2">Content</mat-label>
            <div class="mb-2 mt-2 d-flex" style="background-color: white; color: black; max-height: 400px;">
                <quill-editor [modules]="modules" formControlName="content" class="flex-fill">
                </quill-editor>
            </div>

            <mat-form-field appearance="outline" class="mt-5">
                <mat-label>Tags</mat-label>
                <mat-chip-list #tagList>
                    <mat-chip (removed)="removeTag(tag)"
                              *ngFor="let tag of tags" [removable]="true">
                        {{tag}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input (matChipInputTokenEnd)="addTag($event)"
                           [matChipInputAddOnBlur]="true"
                           [matChipInputFor]="tagList"
                           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                           placeholder="+ Tag">
                </mat-chip-list>
            </mat-form-field>
        </form>
    </div>

    <div class="panel-footer">
        <button (click)="delete()" *ngIf="data?.wiki" class="mr-auto" color="warn" mat-flat-button>
            <mat-icon>delete</mat-icon>
        </button>
        <button (click)="submit()" color="primary" mat-flat-button>Submit</button>
    </div>
</section>

