#wiki-view {
    .wiki-content {
        white-space: pre-wrap;
    }

    .mat-row:hover {
        cursor: pointer;
        background-color: rgba(63,81,181, 0.1)
    }

    mat-chip {
        cursor: pointer;
    }

}
