<section id="wiki-view">
    <div *ngIf="wiki" class="d-flex flex-column">
        <div *ngIf="!showHistory else History">
            <div *ngIf="wiki.wiki_id" class="alert alert-warning d-flex justify-content-center align-items-center"
                 role="alert">
                <div>Viewing wiki history edit from {{wiki.user.name}}</div>
                <button (click)="wiki=latestWiki" mat-flat-button class="ml-2">View Latest</button>
            </div>
            <div class="d-flex">
                <div>
                    <h1 class="d-none d-md-block">{{wiki?.title}}</h1>
                    <em>{{wiki?.description}}</em>
                </div>
                <button mat-icon-button class="ml-auto"
                        (click)="showHistoryFn(wiki?.wiki_id ? wiki.wiki_id : wiki.id)">
                    <mat-icon>history</mat-icon>
                </button>
                <button *ngIf="loggedIn && wiki == latestWiki" mat-icon-button class="ml-2" (click)="editWiki()">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>

            <div class="wiki-content mt-4">
                <div [innerHTML]="wiki?.content | safeHtml">
                </div>
            </div>

            <div>
                <hr class="mb-4 mt-4"/>
                <h2 class="mb-2">Tags</h2>
                <div class="d-flex">
                    <mat-chip-list>
                        <h4 *ngFor="let tag of wiki?.tags">
                            <mat-chip color="primary" [selected]="true" [routerLink]="['/tag', tag]">#{{tag}}</mat-chip>
                        </h4>
                    </mat-chip-list>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!wiki">
        <div *ngIf="!loading else Loading" class="d-flex flex-column justify-content-center align-items-center">
            <h4 class="mt-4">
                <mat-icon color="warn" class="big-icon">feedback</mat-icon>
            </h4>
            <p class="mt-2">The wiki you are looking for is not here! Perhaps you should post it.</p>
            <ng-template #post>
                <button (click)="addWiki()" class="btn btn-success">Add Wiki</button>
            </ng-template>
        </div>

        <ng-template #Loading>
            <div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center">
                <mat-spinner></mat-spinner>
            </div>
        </ng-template>

    </div>

    <ng-template #History>
        <div class="d-flex align-items-start">
            <div class="mb-4">
                <h1><b>{{wiki.title}}</b> | Edit History</h1>
            </div>
            <button mat-flat-button (click)="showHistory = false" class="ml-auto">View Latest</button>
        </div>


        <table mat-table [dataSource]="wikiHistory.items"  *ngIf="wikiHistory.items.length else noHistory">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="edited_by">
                <th mat-header-cell *matHeaderCellDef> Edited By </th>
                <td mat-cell *matCellDef="let element"> {{element.user.name}} </td>
            </ng-container>

            <ng-container matColumnDef="edit_date">
                <th mat-header-cell *matHeaderCellDef> Edit Date</th>
                <td mat-cell *matCellDef="let element"> {{ element.created_at | date:'short' }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="viewVersion(row)"></tr>
        </table>
        <mat-paginator [pageSize]="10" [pageIndex]="wikiHistory.curPage -1" [length]="wikiHistory.itemsTotal" (page)="pageChangeEvent($event)"></mat-paginator>


        <ng-template #noHistory>
            <div class="d-flex flex-column justify-content-center align-items-center w-100">
                <h4>
                    <mat-icon color="warn" class="big-icon">feedback</mat-icon>
                </h4>
                <p class="mt-2">No Wiki History Available!</p>
                <button mat-stroked-button (click)="showHistory = false">Back to Wiki</button>
            </div>
        </ng-template>
    </ng-template>
</section>
